@charset "UTF-8";
/* =======================================================================================================================
 * 최초 생성 : 이정민 / xwjdalsz0227@gmail.com
 * date : 2024.11.16
 * 교육 상세 페이지 CSS
 * font, padding, margin, width, height는 edu-detail에 종속되어야하기에 em 단위 사용.(최초 기준값 : 16px)
 * ======================================================================================================================= */
/* ---------------------------------------------------------------------------------------
    00. Fonts
--------------------------------------------------------------------------------------- */
/* gmarket Sans */
@font-face {
  font-family: "GmarketSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* cafe24 */
@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 엘리스 디지털배움 */
@font-face {
  font-family: "EliceDigitalBaeum";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/Elice/EliceDigitalBaeum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "EliceDigitalBaeum";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 에스코어 드림 */
@font-face {
  font-family: "S-CoreDream";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* ---------------------------------------------------------------------------------------
    01. varables
--------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------
    02. mixin 
--------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------
    03. common 
--------------------------------------------------------------------------------------- */
.edu-detail .col-free-primary {
  color: #0065ee !important;
}

.edu-detail .ta-l {
  text-align: left !important;
}

.edu-detail .ta-c {
  text-align: center !important;
}

.edu-detail .ta-r {
  text-align: right !important;
}

.edu-detail .fw-5 {
  font-weight: 500 !important;
}

.edu-detail .fw-6 {
  font-weight: 600 !important;
}

/* ---------------------------------------------------------------------------------------
    04. Pages
--------------------------------------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
}

.test {
  font-size: 14px;
}

.edu-detail {
  position: relative;
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  border: 0;
  text-align: left;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #222;
  max-width: 900px;
  width: 100%;
  border: solid 1px #ddd;
  /* 무료 교육 */
  /* 유료 교육 */
}
.edu-detail * {
  margin: 0;
  box-sizing: border-box;
}
.edu-detail *::before, .edu-detail *::after {
  box-sizing: border-box;
}
.edu-detail div, .edu-detail p, .edu-detail h1, .edu-detail h2, .edu-detail h3, .edu-detail h4, .edu-detail h5, .edu-detail h6, .edu-detail ul, .edu-detail ol, .edu-detail li, .edu-detail dl, .edu-detail dt, .edu-detail dd, .edu-detail table, .edu-detail th, .edu-detail td, .edu-detail form, .edu-detail fieldset, .edu-detail legend, .edu-detail input, .edu-detail textarea, .edu-detail button, .edu-detail select {
  margin: 0;
  padding: 0;
}
.edu-detail article, .edu-detail aside, .edu-detail footer, .edu-detail header, .edu-detail nav, .edu-detail section {
  display: block;
}
.edu-detail ul, .edu-detail li, .edu-detail ol, .edu-detail li, .edu-detail dl, .edu-detail dd, .edu-detail dt {
  list-style: none;
}
.edu-detail table {
  width: 100%;
  table-layout: fixed;
  padding: 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}
.edu-detail caption {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  z-index: -1;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
.edu-detail legend, .edu-detail hr {
  display: none;
  position: absolute;
  left: -99.9rem;
  width: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
  z-index: -1;
}
.edu-detail h1, .edu-detail h2, .edu-detail h3, .edu-detail h4, .edu-detail h5, .edu-detail h6 {
  font-weight: 900;
}
.edu-detail p {
  word-break: keep-all;
}
.edu-detail fieldset, .edu-detail img {
  border: none;
}
.edu-detail.free {
  font-family: "S-CoreDream";
  font-weight: 400;
}
.edu-detail.free .edu-visual {
  display: flex;
  align-items: center;
  position: relative;
  height: 25em;
  padding: 0 2.19em;
  text-align: center;
  background: url("../images/free/bg_edu_free.png") no-repeat center;
  background-size: cover;
}
.edu-detail.free .edu-visual__label {
  position: absolute;
  left: 1.17em;
  top: 1em;
  width: 2.67em;
  height: 2.67em;
  padding: 0.83em 0.33em;
  font-size: 1.88em;
  font-weight: 600;
  border: solid 1px #ddd;
  color: #fff;
}
.edu-detail.free .edu-visual__tit {
  width: 100%;
  font-family: "Cafe24Ohsquare";
  font-size: 3.44em;
  line-height: 1.3;
  font-style: italic;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(195, 195, 195) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.edu-detail.free .edu-visual__tit .small {
  font-family: "Cafe24Ohsquareair";
  font-size: 0.91em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail.free .edu-visual__tit br {
    display: none;
  }
}
@media (max-width: 767px) {
  .edu-detail.free .edu-visual__tit br {
    display: none;
  }
}
.edu-detail.free .edu-item {
  margin: 0 2.19em;
  padding: 4.38em 0;
  border-bottom: solid 1px #ddd;
}
.edu-detail.free .edu-item.bg-blue {
  margin: 0;
  border-bottom: 0;
  padding: 4.38em 2.19em;
  background-color: #e6edff;
}
.edu-detail.free .edu-item:last-child {
  border-bottom: 0;
}
.edu-detail.free .edu-item__tit {
  margin-bottom: 0.5em;
  font-family: "Cafe24Ohsquare";
  font-size: 2.5em;
}
.edu-detail.free .edu-item .session-list li p {
  font-size: 1.56em;
  line-height: 1.5;
  letter-spacing: -1px;
}
.edu-detail.free .edu-item .session-list li p.session-list__tit {
  font-weight: 600;
  color: #0065ee;
}
.edu-detail.free .edu-item .session-list li p.session-list__tit.medical {
  padding-left: 1.32em;
  color: #000;
  background: url("../images/free/ico_eduDetail024_1.png") no-repeat left center;
  background-size: 0.92em;
}
.edu-detail.free .edu-item .session-list li p.session-list__tit.medical.type2 {
  background-image: url("../images/free/ico_eduDetail024_2.png");
  background-size: 0.8em;
}
.edu-detail.free .edu-item .session-list li + li {
  margin-top: 3.75em;
}
.edu-detail.free .edu-item .session-list__img {
  margin-top: 2.5em;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail.free .edu-item .session-list__img img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .edu-detail.free .edu-item .session-list__img img {
    width: 100%;
  }
}
.edu-detail.free .edu-item .session-list .module-list {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 2.5em;
}
.edu-detail.free .edu-item .session-list .module-list li {
  width: calc(33.333% - 2.5em);
  margin: 0 1.25em;
  padding: 6.88em 1.56em 1.56em;
  text-align: center;
  border: solid 1px #ddd;
  border-radius: 0.63em;
  background: url("../images/free/img_eduDetail016_1.png") no-repeat center 1.56em;
  background-size: 4.38em;
}
.edu-detail.free .edu-item .session-list .module-list li:nth-child(2) {
  background-image: url("../images/free/img_eduDetail016_2.png");
}
.edu-detail.free .edu-item .session-list .module-list li:nth-child(3) {
  background-image: url("../images/free/img_eduDetail016_3.png");
  background-size: 4.88em;
}
@media (max-width: 767px) {
  .edu-detail.free .edu-item .session-list .module-list li {
    width: 100%;
    margin: 0;
    padding: 0.63em 0 0.63em 8em;
    background-position: 1.56em center;
    text-align: left;
  }
  .edu-detail.free .edu-item .session-list .module-list li + li {
    margin-top: 10px;
  }
}
.edu-detail.free .edu-item .session-list .module-list__tit {
  font-size: 1.56em;
  font-weight: 600;
}
.edu-detail.free .edu-item .session-list .module-list__cont {
  font-size: 1.25em;
}
.edu-detail.free .edu-item .agenda-list__item {
  position: relative;
  border: solid 1px #ddd;
  border-radius: 4px;
  /* overflow:hidden; */
}
.edu-detail.free .edu-item .agenda-list__item + .agenda-list__item {
  margin-top: 10px;
}
.edu-detail.free .edu-item .agenda-list__tit {
  display: flex;
  font-weight: 500;
  padding: 1.25em 2.19em;
  letter-spacing: -1px;
}
.edu-detail.free .edu-item .agenda-list__tit span {
  display: inline-block;
  width: 90%;
  font-size: 1.63em;
}
.edu-detail.free .edu-item .agenda-list__tit span.num {
  width: 10%;
  font-size: 1.88em;
  font-weight: 700;
  font-style: italic;
  color: #0065ee;
}
.edu-detail.free .edu-item .agenda-list__cont {
  padding: 1.88em 2.19em;
  background: #ededed;
}
.edu-detail.free .edu-item .agenda-list__cont li {
  position: relative;
  padding-left: 0.94em;
  font-size: 1.13em;
  line-height: 1.3;
}
.edu-detail.free .edu-item .agenda-list__cont li::before {
  position: absolute;
  left: 0;
  top: 0.63em;
  width: 0.44em;
  height: 0.06em;
  background: #222;
  content: "";
}
.edu-detail.free .edu-item .agenda-list__cont li + li {
  margin-top: 0.56em;
}
.edu-detail.free .edu-item .agenda-list__label {
  position: absolute;
  right: -1.5em;
  top: -1.5em;
  width: 8.63em;
  height: 8.63em;
  padding: 1.88em 0;
  text-align: center;
  background: url("../images/free/img_agenda_label.png") no-repeat center center;
  background-size: 100%;
  transform-origin: top left;
  transform: rotate(-20deg);
}
.edu-detail.free .edu-item .agenda-list__label span {
  font-size: 1.19em;
  font-weight: 500;
}
.edu-detail.free .edu-item .agenda-list__label span.num {
  font-size: 2.63em;
  font-weight: 600;
}
.edu-detail.free .edu-item .tutor-list {
  display: flex;
  align-items: center;
  padding-left: 16.25em;
  min-height: 15em;
  background: url("../images/free/img_tutor1.png") no-repeat left center;
  background-size: 15em;
}
.edu-detail.free .edu-item .tutor-list + .tutor-list {
  margin-top: 1.88em;
}
.edu-detail.free .edu-item .tutor-list p {
  width: 100%;
  font-size: 1.88em;
  line-height: 1.5;
}
.edu-detail.free .edu-item .tutor-list p .tit {
  font-weight: 600;
}
.edu-detail.free .edu-item .tutor-list.type2 {
  background-image: url("../images/free/img_tutor3.png");
}
.edu-detail.free .edu-item .tutor-list.pbh {
  background-image: url("../images/free/img_tutor2.png");
}
.edu-detail.free .edu-item .tutor-list.pjh {
  background-image: url("../images/free/img_tutor4.png");
}
.edu-detail.free .edu-item .tutor-list.lwh {
  background-image: url("../images/free/img_tutor5.png");
}
.edu-detail.free .edu-item .tutor-list.mkh {
  background-image: url("../images/free/img_tutor10.png");
}
.edu-detail.free .edu-item .tutor-list.cyh {
  background-image: url("../images/free/img_tutor11.png");
}
.edu-detail.free .edu-item .tutor-list.gsy {
  background-image: url("../images/free/img_tutor12.png");
}
.edu-detail.free .edu-item .tutor-list.jhj {
  background-image: url("../images/free/img_tutor13.png");
}
.edu-detail.free .edu-item .tutor-list__type2 ul {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.edu-detail.free .edu-item .tutor-list__type2 ul li {
  width: 33.333%;
  min-height: 14.88em;
  padding-top: 14.88em;
  margin-bottom: 1.88em;
  text-align: center;
  background: url("../images/free/img_tutor1.png") no-repeat center top;
  background-size: 14.38em;
}
.edu-detail.free .edu-item .tutor-list__type2 ul li p {
  font-size: 1.25em;
  line-height: 1.5;
}
.edu-detail.free .edu-item .tutor-list__type2 ul li p.tit {
  font-size: 1.4em;
  font-weight: 600;
}
.edu-detail.free .edu-item .tutor-list__type2 ul li.type2 {
  background-image: url("../images/free/img_tutor3.png");
}
.edu-detail.free .edu-item .tutor-list__type2 ul li.pbh {
  background-image: url("../images/free/img_tutor2.png");
}
.edu-detail.free .edu-item .tutor-list__type2 ul li.pjh {
  background-image: url("../images/free/img_tutor4.png");
}
.edu-detail.free .edu-item .tutor-list__type2 ul li.lwh {
  background-image: url("../images/free/img_tutor5.png");
}
.edu-detail.free .edu-item .tutor-list__type2 ul li.kje {
  background-image: url("../images/free/img_tutor6.png");
}
.edu-detail.free .edu-item .tutor-list__type2 ul li.sjw {
  background-image: url("../images/free/img_tutor7.png");
}
.edu-detail.free .edu-item .tutor-list__type2 ul li.kgh {
  background-image: url("../images/free/img_tutor8.png");
}
.edu-detail.free .edu-item .tutor-list__type2 ul li.ssm {
  background-image: url("../images/free/img_tutor9.png");
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail.free .edu-item .tutor-list__type2 ul li {
    width: 100%;
    text-align: left;
    padding: 3.13em 0 0 15.38em;
    background-position: left center;
  }
}
@media (max-width: 767px) {
  .edu-detail.free .edu-item .tutor-list__type2 ul li {
    width: 100%;
    text-align: left;
    padding: 3.13em 0 0 15.38em;
    background-position: left center;
  }
}
.edu-detail.free .edu-item .tag-wrap {
  margin-top: 2.5em;
}
.edu-detail.free .edu-item .tag-wrap__item {
  font-family: "EliceDigitalBaeum";
  font-size: 1.25em;
  font-weight: 700;
  color: #0040b6;
}
.edu-detail.free .edu-item .tag-wrap__item span {
  display: inline-block;
  position: relative;
  padding: 0 0.5em;
  z-index: 0;
}
.edu-detail.free .edu-item .tag-wrap__item span::before {
  display: block;
  width: 100%;
  height: 1em;
  position: absolute;
  left: 0;
  bottom: -0.5em;
  content: "";
  background: #e6edff;
  z-index: -1;
}
.edu-detail.free .edu-item .tag-wrap__item + .tag-wrap__item {
  margin-top: 1.15em;
}
.edu-detail.free .edu-item .blue-box {
  margin-bottom: 3.13em;
  padding: 1.88em;
  text-align: center;
  background-color: #e1efff;
  border: solid 1px #ddd;
  border-radius: 0.25em;
}
.edu-detail.free .edu-item .blue-box p {
  font-size: 1.44em;
  font-weight: 400;
  line-height: 1.3;
}
.edu-detail.free .edu-item .blue-box p + p {
  margin-top: 2.17em;
}
.edu-detail.free .edu-item .blue-box p.tit {
  font-size: 2em;
  font-weight: 600;
}
.edu-detail.free .edu-item .chk-list {
  margin-top: 3.13em;
  padding: 2.19em 1.25em;
  border: solid 1px #ddd;
  border-radius: 4px;
}
.edu-detail.free .edu-item .chk-list li {
  padding-left: 1.88em;
  font-size: 1.31em;
  font-weight: 500;
  line-height: 1.3;
  word-break: keep-all;
  background: url("../images/free/ico_chk1.png") no-repeat left 0.13em;
  background-size: 1.44em;
}
.edu-detail.free .edu-item .chk-list li + li {
  margin-top: 0.63em;
}
.edu-detail.paid .edu-item {
  padding: 5em 2.19em;
}
.edu-detail.paid .edu-item .curri-list {
  display: flex;
  flex-flow: wrap;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
.edu-detail.paid .edu-item .curri-list__item {
  width: 33.333%;
  flex: auto;
  padding: 1.56em;
  text-align: left;
  border-left: solid 1px #ddd;
  border-top: solid 1px #ddd;
}
.edu-detail.paid .edu-item .curri-list__item .num {
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 0.25em 0.75em;
  border-radius: 3em;
  font-size: 1.25em;
  font-weight: 700;
  color: #fff;
  background: #222;
}
.edu-detail.paid .edu-item .curri-list__item .tit {
  margin-bottom: 0.87em;
  font-size: 1.44em;
  font-weight: 700;
}
.edu-detail.paid .edu-item .curri-list__item .cont li {
  position: relative;
  padding-left: 0.75em;
  font-size: 1.25em;
  word-break: keep-all;
  line-height: 1.3;
}
.edu-detail.paid .edu-item .curri-list__item .cont li::before {
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.4em;
  height: 1px;
  background: #222;
  content: "";
}
.edu-detail.paid .edu-item .curri-list__item .cont li + li {
  margin-top: 0.75em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail.paid .edu-item .curri-list__item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .edu-detail.paid .edu-item .curri-list__item {
    width: 100%;
  }
}
.edu-detail.paid .edu-item .tutor-list {
  display: flex;
  flex-flow: wrap;
}
.edu-detail.paid .edu-item .tutor-list .tutor {
  width: 40%;
  padding-top: 13.13em;
  background: url("../images/paid/001/img_tutor.png") no-repeat center top;
  background-size: 12.5em;
}
.edu-detail.paid .edu-item .tutor-list .tutor span {
  font-size: 1.63em;
  font-weight: 700;
  letter-spacing: -1px;
}
.edu-detail.paid .edu-item .tutor-list .cont {
  width: 60%;
}
.edu-detail.paid .edu-item .tutor-list .cont ul li {
  position: relative;
  padding-left: 0.75em;
  font-size: 1.38em;
  text-align: left;
  line-height: 1.3;
  letter-spacing: -1px;
  word-break: keep-all;
}
.edu-detail.paid .edu-item .tutor-list .cont ul li::before {
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.4em;
  height: 1px;
  background: #222;
  content: "";
}
.edu-detail.paid .edu-item .tutor-list .cont ul li.tit {
  padding-left: 0;
  font-weight: 700;
}
.edu-detail.paid .edu-item .tutor-list .cont ul li.tit::before {
  display: none;
}
.edu-detail.paid .edu-item .tutor-list .cont ul li + li {
  margin-top: 0.45em;
}
.edu-detail.paid .edu-item .tutor-list .cont ul + ul {
  margin-top: 3.13em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail.paid .edu-item .tutor-list .tutor {
    width: 100%;
    margin-bottom: 3.13em;
  }
  .edu-detail.paid .edu-item .tutor-list .cont {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .edu-detail.paid .edu-item .tutor-list .tutor {
    width: 100%;
    margin-bottom: 50px;
  }
  .edu-detail.paid .edu-item .tutor-list .cont {
    width: 100%;
  }
}
.edu-detail.paid.edu001 {
  font-family: "GmarketSans";
  font-weight: 500;
  text-align: center;
}
.edu-detail.paid.edu001 .col-primary {
  color: #00beba;
}
.edu-detail.paid.edu001 .bg-primary {
  background-color: #00beba !important;
}
.edu-detail.paid.edu001 .edu-visual {
  height: 37.5em;
  padding: 4em 2.19em;
  background: url("../images/paid/001/bg_visual.jpg") no-repeat center top;
  background-size: cover;
}
.edu-detail.paid.edu001 .edu-visual__subTit {
  display: inline-block;
  margin-bottom: 0.67em;
  padding: 0.33em 0.67em;
  font-size: 2.81em;
  font-weight: 300;
  border-radius: 1.33em;
  color: #fff;
  background: #222;
}
.edu-detail.paid.edu001 .edu-visual__subTit strong {
  color: #00beba;
}
.edu-detail.paid.edu001 .edu-visual__tit {
  font-size: 6.25em;
  font-weight: 700;
  font-style: italic;
  text-shadow: 5px 5px 5px #00acaf;
  color: #fff;
}
.edu-detail.paid.edu001 .edu-item {
  padding-top: 0;
}
.edu-detail.paid.edu001 .edu-item__tit {
  margin-bottom: 1.33em;
  padding-top: 1.78em;
  font-size: 2.81em;
  font-weight: 700;
  letter-spacing: -1;
  background: url("../images/paid/001/img_tit.png") no-repeat center top;
  background-size: 1.78em;
}
.edu-detail.paid.edu001 .edu-item.info {
  background: #222;
  color: #fff;
}
.edu-detail.paid.edu001 .edu-item.info .edu-item__tit {
  margin-bottom: 0.63em;
  font-family: "Cafe24Ohsquareair";
  font-size: 3em;
  background: none;
}
.edu-detail.paid.edu001 .edu-item.info p {
  font-size: 1.56em;
  line-height: 1.3;
  letter-spacing: -1px;
}
.edu-detail.paid.edu001 .edu-item.info p.bottom {
  font-weight: 700;
  font-size: 1.75em;
}
.edu-detail.paid.edu001 .edu-item.info .img-box {
  margin: 3.13em 0;
}
.edu-detail.paid.edu001 .edu-item.info .img-box img {
  width: 100%;
}
.edu-detail.paid.edu001 .edu-item.feature .feature-list__item {
  text-align: left;
}
.edu-detail.paid.edu001 .edu-item.feature .feature-list__item .tit {
  padding-bottom: 0.63em;
  margin-bottom: 1.25em;
  border-bottom: solid 2px #00beba;
}
.edu-detail.paid.edu001 .edu-item.feature .feature-list__item .tit span {
  font-size: 1.88em;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.3;
}
.edu-detail.paid.edu001 .edu-item.feature .feature-list__item .tit span.num {
  margin-right: 0.4em;
  font-size: 3.13em;
  color: #d4d4d4;
}
.edu-detail.paid.edu001 .edu-item.feature .feature-list__item p {
  position: relative;
  padding-left: 0.7em;
  font-size: 1.44em;
  line-height: 1.3;
  letter-spacing: -1px;
}
.edu-detail.paid.edu001 .edu-item.feature .feature-list__item p::before {
  position: absolute;
  left: 0;
  top: 0.43em;
  width: 0.35em;
  height: 1px;
  background: #222;
  content: "";
}
.edu-detail.paid.edu001 .edu-item.feature .feature-list__item p + p {
  margin-top: 1.09em;
}
.edu-detail.paid.edu001 .edu-item.feature .feature-list__item .img-box {
  text-align: center;
  margin-top: 1.88em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail.paid.edu001 .edu-item.feature .feature-list__item .img-box img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .edu-detail.paid.edu001 .edu-item.feature .feature-list__item .img-box img {
    width: 100%;
  }
}
.edu-detail.paid.edu001 .edu-item.feature .feature-list__item + .feature-list__item {
  margin-top: 4.38em;
}
.edu-detail.paid.edu001 .edu-item.recomme {
  background: url("../images/paid/001/bg_recomme.jpg") no-repeat center top;
  background-size: cover;
}
.edu-detail.paid.edu001 .edu-item.recomme .edu-item__tit {
  margin-bottom: 1em;
  font-family: "Cafe24Ohsquare";
  background: none;
  color: #fff;
}
.edu-detail.paid.edu001 .edu-item.recomme .recomme-list li {
  width: 100%;
  padding: 1.56em 1.25em 1.56em 9.88em;
  text-align: left;
  border-radius: 3.75em;
  background: #fff url("../images/paid/001/img_recomme1.png") no-repeat 2.19em center;
  background-size: 6.25em;
}
.edu-detail.paid.edu001 .edu-item.recomme .recomme-list li span {
  font-size: 1.63em;
  font-weight: 700;
  word-break: keep-all;
}
.edu-detail.paid.edu001 .edu-item.recomme .recomme-list li:nth-child(2) {
  background-image: url("../images/paid/001/img_recomme2.png");
}
.edu-detail.paid.edu001 .edu-item.recomme .recomme-list li:nth-child(3) {
  background-image: url("../images/paid/001/img_recomme3.png");
}
.edu-detail.paid.edu001 .edu-item.recomme .recomme-list li:nth-child(4) {
  background-image: url("../images/paid/001/img_recomme4.png");
}
.edu-detail.paid.edu001 .edu-item.recomme .recomme-list li + li {
  margin-top: 1.25em;
}
.edu-detail.paid.edu001 .edu-item.purpose {
  padding-top: 5em;
  background: url("../images/paid/001/bg_purpose.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
}
.edu-detail.paid.edu001 .edu-item.purpose p {
  font-size: 1.38em;
  line-height: 1.5;
}
.edu-detail.paid.edu001 .edu-item.purpose .edu-item__tit {
  padding-top: 0.56em;
  font-size: 2.81em;
  font-family: "Cafe24Ohsquare";
  line-height: 1;
  background: none;
}
.edu-detail.paid.edu001 .edu-item.purpose .purpose-list {
  display: flex;
  flex-flow: wrap;
}
.edu-detail.paid.edu001 .edu-item.purpose .purpose-list li {
  flex: auto;
  width: 33.333%;
  padding-top: 8em;
  background: url("../images/paid/001/img_purpose1.png") no-repeat center top;
  background-size: 11.25em;
}
.edu-detail.paid.edu001 .edu-item.purpose .purpose-list li span {
  position: relative;
  display: inline-block;
  font-size: 1.38em;
  line-height: 1.3;
  word-break: keep-all;
  z-index: 0;
}
.edu-detail.paid.edu001 .edu-item.purpose .purpose-list li span.underline::before {
  display: block;
  width: 100%;
  height: 0.68em;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 190, 186, 0.3);
  z-index: -1;
}
@media (max-width: 767px) {
  .edu-detail.paid.edu001 .edu-item.purpose .purpose-list li {
    width: 100%;
  }
  .edu-detail.paid.edu001 .edu-item.purpose .purpose-list li + li {
    margin-top: 3.75em;
  }
}
.edu-detail.paid.edu002 {
  font-family: "GmarketSans";
  font-weight: 500;
  text-align: center;
}
.edu-detail.paid.edu002 .col-primary {
  color: #1885ff;
}
.edu-detail.paid.edu002 .bg-primary {
  background-color: #1885ff !important;
}
.edu-detail.paid.edu002 .edu-visual {
  height: 37.5em;
  padding: 3.75em 2.19em;
  text-align: left;
  background: url("../images/paid/002/bg_visual.png") no-repeat center top;
  background-size: cover;
}
.edu-detail.paid.edu002 .edu-visual__subTit {
  display: inline-block;
  margin-bottom: 0.63em;
  padding: 0.25em 0.75em;
  font-family: "EliceDigitalBaeum";
  font-weight: 400;
  font-size: 2.5em;
  border-radius: 1.5em;
  color: #fff;
  background: #082951;
}
.edu-detail.paid.edu002 .edu-visual__tit {
  font-family: "EliceDigitalBaeum";
  font-size: 5em;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  text-shadow: 0.05em 0.05em 0.03em #537efd;
}
.edu-detail.paid.edu002 .edu-item {
  padding-top: 0;
}
.edu-detail.paid.edu002 .edu-item__tit {
  margin-bottom: 0.89em;
  padding-top: 2em;
  font-size: 2.81em;
  font-weight: 700;
  background: url("../images/paid/002/img_tit.png") no-repeat center top;
  background-size: 1.33em;
}
.edu-detail.paid.edu002 .edu-item.info1 {
  padding: 3.75em 2.19em;
  background: #103c73;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail.paid.edu002 .edu-item.info1 img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .edu-detail.paid.edu002 .edu-item.info1 img {
    width: 100%;
  }
}
.edu-detail.paid.edu002 .edu-item.info2 {
  padding: 5em 2.19em 0;
  background: #082951;
}
.edu-detail.paid.edu002 .edu-item.info2 p {
  font-size: 1.75em;
  font-weight: 500;
  color: #fff;
}
.edu-detail.paid.edu002 .edu-item.info2 .edu-item__subTit {
  display: inline-block;
  padding: 0.23em 1.23em;
  font-size: 1.88em;
  font-weight: 700;
  border-radius: 2em;
  color: #082951;
  background: #fff;
}
.edu-detail.paid.edu002 .edu-item.info2 .edu-item__tit {
  margin: 0.44em 0;
  padding: 0;
  font-size: 2.81em;
  font-weight: 300;
  background: none;
}
.edu-detail.paid.edu002 .edu-item.info2 .bubble-list {
  margin-top: 3.13em;
  padding-bottom: 17.5em;
  background: url("../images/paid/002/img_intro2.png") no-repeat left bottom;
  background-size: 20.44em;
}
.edu-detail.paid.edu002 .edu-item.info2 .bubble-list__item {
  position: relative;
  padding: 1.56em;
  text-align: left;
  line-height: 1.5;
  word-break: keep-all;
  border-radius: 1.25em;
  background: rgb(224, 227, 234);
  background: linear-gradient(0deg, rgb(224, 227, 234) 0%, rgb(255, 255, 255) 100%);
  color: #222;
}
.edu-detail.paid.edu002 .edu-item.info2 .bubble-list__item::after {
  border-top: 1.25em solid rgb(224, 227, 234);
  border-left: 0.63em solid transparent;
  border-right: 1.25em solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  bottom: -1.25em;
  right: 10%;
}
.edu-detail.paid.edu002 .edu-item.info2 .bubble-list__item span, .edu-detail.paid.edu002 .edu-item.info2 .bubble-list__item strong {
  font-size: 1.31em;
  word-break: keep-all;
  line-height: 1.3;
  letter-spacing: -1px;
}
.edu-detail.paid.edu002 .edu-item.info2 .bubble-list__item + .bubble-list__item {
  margin-top: 2.81em;
}
.edu-detail.paid.edu002 .edu-item.effect .effect-list {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.edu-detail.paid.edu002 .edu-item.effect .effect-list li {
  width: 33.333%;
  padding-top: 13.13em;
  background: url("../images/paid/002/img_effect2.png") no-repeat center top;
  background-size: 15.13em;
}
.edu-detail.paid.edu002 .edu-item.effect .effect-list li:nth-child(2) {
  background-image: url("../images/paid/002/img_effect3.png");
}
.edu-detail.paid.edu002 .edu-item.effect .effect-list li:nth-child(3) {
  background-image: url("../images/paid/002/img_effect4.png");
}
.edu-detail.paid.edu002 .edu-item.effect .effect-list li span {
  font-size: 1.44em;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
  word-break: keep-all;
}
@media (max-width: 767px) {
  .edu-detail.paid.edu002 .edu-item.effect .effect-list li {
    width: 100%;
  }
  .edu-detail.paid.edu002 .edu-item.effect .effect-list li + li {
    margin-top: 3.75em;
  }
}
@media (max-width: 767px) {
  .edu-detail.paid.edu002 .edu-item.effect img {
    width: 100%;
  }
}
.edu-detail.paid.edu002 .edu-item.purpose {
  background: #f4f4f4;
}
.edu-detail.paid.edu002 .edu-item.purpose .purpose-list__item {
  display: flex;
  justify-content: left;
  flex-flow: wrap;
  padding: 1.88em 1.25em;
  border-radius: 0.63em;
  box-shadow: 0.13em 0.13em 0.63em #bbbbbb;
  background: #fff;
}
.edu-detail.paid.edu002 .edu-item.purpose .purpose-list__item + .purpose-list__item {
  margin-top: 0.94em;
}
.edu-detail.paid.edu002 .edu-item.purpose .purpose-list__item .tit {
  width: 30%;
  padding-right: 0.8em;
  font-size: 1.56em;
  font-weight: 700;
  text-align: left;
}
.edu-detail.paid.edu002 .edu-item.purpose .purpose-list__item .cont {
  width: 70%;
}
.edu-detail.paid.edu002 .edu-item.purpose .purpose-list__item .cont li {
  padding-left: 1.13em;
  text-align: left;
  background: url("../images/paid/002/ico_arrow.png") no-repeat left 0.25em;
  background-size: 0.88em;
}
.edu-detail.paid.edu002 .edu-item.purpose .purpose-list__item .cont li span {
  font-size: 1.13em;
  line-height: 1.3;
  word-break: keep-all;
  letter-spacing: -1px;
}
.edu-detail.paid.edu002 .edu-item.purpose .purpose-list__item .cont li + li {
  margin-top: 0.94em;
}
.edu-detail.paid.edu002 .edu-item.recomme {
  background: #1885ff;
  color: #fff;
}
.edu-detail.paid.edu002 .edu-item.recomme .edu-item__tit {
  background: none;
  font-style: italic;
}
.edu-detail.paid.edu002 .edu-item.recomme .recomme-list {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.edu-detail.paid.edu002 .edu-item.recomme .recomme-list li {
  width: 12.5em;
  margin: 0 1.88em;
  padding-top: 10.94em;
  text-align: center;
  background: url("../images/paid/002/img_recomme1.png") no-repeat center top;
  background-size: 10em;
}
.edu-detail.paid.edu002 .edu-item.recomme .recomme-list li:nth-child(2) {
  background-image: url("../images/paid/002/img_recomme2.png");
}
.edu-detail.paid.edu002 .edu-item.recomme .recomme-list li:nth-child(3) {
  background-image: url("../images/paid/002/img_recomme3.png");
}
.edu-detail.paid.edu002 .edu-item.recomme .recomme-list li span {
  font-size: 1.5em;
  font-weight: 500;
  word-break: keep-all;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .edu-detail.paid.edu002 .edu-item.recomme .recomme-list li {
    width: 100%;
    margin: 0;
  }
  .edu-detail.paid.edu002 .edu-item.recomme .recomme-list li + li {
    margin-top: 3.75em;
  }
}
.edu-detail.paid.edu002 .edu-item.marketing {
  min-height: 37.31em;
  padding: 5em 2.19em;
  text-align: center;
  background: url("../images/paid/002/bg_marketing.png") no-repeat center top;
  background-size: cover;
}
.edu-detail.paid.edu002 .edu-item.marketing p {
  padding-bottom: 2em;
  font-size: 1.56em;
  line-height: 1.3;
  word-break: keep-all;
  letter-spacing: -1px;
  color: #fff;
}
.edu-detail.paid.edu002 .edu-item.marketing .marketing-list {
  display: flex;
  justify-content: center;
}
.edu-detail.paid.edu002 .edu-item.marketing .marketing-list li {
  position: relative;
  margin: 0 1.88em;
}
.edu-detail.paid.edu002 .edu-item.marketing .marketing-list li::after {
  content: "";
  position: absolute;
  right: -3.38em;
  top: 50%;
  margin-top: -1.5em;
  width: 3em;
  height: 3em;
  background: url("../images/paid/002/ico_arrow2.png") no-repeat left top;
  background-size: 3em;
}
.edu-detail.paid.edu002 .edu-item.marketing .marketing-list li:last-child::after {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail.paid.edu002 .edu-item.marketing .marketing-list li img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .edu-detail.paid.edu002 .edu-item.marketing .marketing-list li img {
    width: 100%;
  }
}
.edu-detail.paid.edu002 .edu-item.tutor .tutor-list .tutor {
  background-image: url("../images/paid/002/img_tutor.png");
}
.edu-detail.paid.edu003 {
  font-family: "GmarketSans";
  font-weight: 500;
  text-align: center;
}
.edu-detail.paid.edu003 .col-primary {
  color: #4c51c4;
}
.edu-detail.paid.edu003 .bg-primary {
  background-color: #4c51c4 !important;
}
.edu-detail.paid.edu003 .edu-visual {
  height: 37.5em;
  padding: 0;
  text-align: left;
  background: url("../images/paid/003/bg_visual.jpg") no-repeat center top;
  background-size: cover;
}
.edu-detail.paid.edu003 .edu-visual .tit-wrap {
  position: relative;
  width: 37.5em;
  padding: 4.38em 2.19em;
  font-family: "EliceDigitalBaeum";
  text-align: right;
  border-bottom-right-radius: 1.25em;
  background: rgb(168, 39, 236);
  background: linear-gradient(90deg, rgb(168, 39, 236) 0%, rgb(76, 81, 196) 100%);
  box-shadow: 0.13em 0.13em 0.5em #131770;
  color: #fff;
  font-style: italic;
}
.edu-detail.paid.edu003 .edu-visual .tit-wrap::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url("../images/paid/003/bg_visual_tit.png") no-repeat left top;
  opacity: 0.3;
}
.edu-detail.paid.edu003 .edu-visual .tit-wrap .sub-tit {
  font-size: 3.13em;
}
.edu-detail.paid.edu003 .edu-visual .tit-wrap .tit {
  padding-top: 0.29em;
  font-size: 4.38em;
  font-weight: 700;
}
.edu-detail.paid.edu003 .edu-item__tit {
  padding-bottom: 0.89em;
  text-align: left;
  font-size: 2.81em;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
}
.edu-detail.paid.edu003 .edu-item.info1 .edu-item__tit {
  padding-bottom: 1.05em;
  text-align: center;
  font-family: "EliceDigitalBaeum";
  font-weight: 700;
  font-size: 2.69em;
}
.edu-detail.paid.edu003 .edu-item.info1 .info-list {
  display: flex;
  justify-content: center;
}
.edu-detail.paid.edu003 .edu-item.info1 .info-list__item {
  margin: 0 0.31em;
}
.edu-detail.paid.edu003 .edu-item.info1 .info-list__item .tit {
  display: inline-block;
  width: 4.6em;
  padding: 0.4em 0.2em;
  font-size: 1.56em;
  font-weight: 700;
  border-radius: 0.4em;
  color: #fff;
  background: #4c51c4;
}
.edu-detail.paid.edu003 .edu-item.info1 .info-list__item ul {
  margin-top: -1.25em;
  padding: 3.13em 1.88em;
  border: solid 1px #ddd;
  border-radius: 0.63em;
  background: #eaebf7;
}
.edu-detail.paid.edu003 .edu-item.info1 .info-list__item ul li {
  position: relative;
  padding-left: 0.64em;
  font-size: 1.38em;
  line-height: 1.3;
  text-align: left;
  word-break: keep-all;
}
.edu-detail.paid.edu003 .edu-item.info1 .info-list__item ul li::before {
  position: absolute;
  left: 0;
  top: 0.57em;
  width: 0.36em;
  height: 1px;
  background: #222;
  content: "";
}
.edu-detail.paid.edu003 .edu-item.info1 .info-list__item ul li + li {
  margin-top: 0.91em;
}
.edu-detail.paid.edu003 .edu-item.info1 .info-list__item:nth-child(2) .tit {
  background-color: #494a4f;
}
.edu-detail.paid.edu003 .edu-item.info1 .info-list__item:nth-child(2) ul {
  background-color: #f1f1f1;
}
.edu-detail.paid.edu003 .edu-item.info1 .txt-result {
  padding-top: 10.63em;
  background: url("../images/paid/003/img_arrow.png") no-repeat center top;
  background-size: 16em;
}
.edu-detail.paid.edu003 .edu-item.info1 .txt-result span {
  display: inline-block;
  position: relative;
  padding: 0 0.2em;
  font-size: 3.13em;
  font-weight: 700;
  color: #4c51c4;
  z-index: 0;
}
.edu-detail.paid.edu003 .edu-item.info1 .txt-result span::after {
  display: block;
  width: 100%;
  height: 0.54em;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background: #f1e0f7;
  z-index: -1;
}
.edu-detail.paid.edu003 .edu-item.info2 {
  text-align: center;
  color: #fff;
  background: url("../images/paid/003/bg_info2.jpg") no-repeat center top;
  background-size: cover;
}
.edu-detail.paid.edu003 .edu-item.info2 p {
  font-size: 1.56em;
  line-height: 1.3;
  letter-spacing: -1px;
  word-break: keep-all;
}
.edu-detail.paid.edu003 .edu-item.info2 p .txt-point {
  color: #9ba0ff;
}
.edu-detail.paid.edu003 .edu-item.info2 .edu-item__tit {
  font-family: "EliceDigitalBaeum";
  font-size: 3.44em;
  text-align: center;
  line-height: 1;
}
.edu-detail.paid.edu003 .edu-item.recomme img {
  width: 100%;
}
.edu-detail.paid.edu003 .edu-item.effect {
  background: #eaebf7;
}
.edu-detail.paid.edu003 .edu-item.effect .effect-list__item {
  text-align: left;
}
.edu-detail.paid.edu003 .edu-item.effect .effect-list__item + .effect-list__item {
  margin-top: 4.38em;
}
.edu-detail.paid.edu003 .edu-item.effect .effect-list__item .sub-tit {
  display: inline-block;
  padding: 0.42em 0.83em;
  font-size: 1.5em;
  letter-spacing: -1px;
  border-radius: 2.5em;
  color: #fff;
  background: #4c51c4;
}
.edu-detail.paid.edu003 .edu-item.effect .effect-list__item .tit {
  padding: 0.5em 0 1.33em 0;
  font-size: 1.88em;
  font-weight: 700;
  letter-spacing: -1px;
  word-break: keep-all;
}
.edu-detail.paid.edu003 .edu-item.effect .effect-list__item .cont {
  padding-top: 1.3em;
  font-size: 1.44em;
  line-height: 1.3;
  letter-spacing: -1px;
  word-break: keep-all;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail.paid.edu003 .edu-item.effect .effect-list__item img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .edu-detail.paid.edu003 .edu-item.effect .effect-list__item img {
    width: 100%;
  }
}
.edu-detail.paid.edu003 .edu-item.tutor {
  background-color: #ececec;
}
.edu-detail.paid.edu003 .edu-item.tutor .tutor-list .tutor {
  background-image: url("../images/paid/003/img_tutor.png");
}
@media (min-width: 768px) and (max-width: 1023px) {
  .edu-detail {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .edu-detail {
    font-size: 10px;
  }
}